 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 110px auto 0;
}

.u-section-1 .u-image-1 {
  width: 386px;
  height: 386px;
  background-image: url("images/IMG_7558FaceSuitPic.jpg");
  background-position: 50% 7.81%;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 570px;
  margin: 42px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  line-height: 1.8;
  width: 739px;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 131px;
  min-width: 63px;
  margin: 42px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-text-3 {
    width: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 64px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 403px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 795px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  width: 795px;
  font-weight: 700;
  margin: 51px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 34px 229px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    height: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: 36px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 36px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1021px;
}

.u-section-3 .u-gallery-1 {
  height: 725px;
  margin-top: 66px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 41px 41px;
  background-image: url("images/2021-12-082.png");
  background-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-1 {
  margin: 97px auto 0 33px;
}

.u-section-3 .u-text-2 {
  text-align: center;
  margin: -36px auto 0;
}

.u-section-3 .u-text-3 {
  text-align: center;
  margin: -36px 33px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-3 .u-gallery-1 {
    height: 598px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1374px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3388px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3092px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2243px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1947px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 751px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-image-1 {
  width: 198px;
  height: 198px;
  background-image: url("images/HAZE.jpg");
  background-position: 56.93% 50%;
  margin: 103px auto 0 471px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 36px 479px 0;
}

.u-section-4 .u-text-3 {
  margin: 23px 431px 0;
}

.u-section-4 .u-line-1 {
  width: 198px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 30px auto 60px 471px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: 182px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 803px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}